* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

body {
  background-image: linear-gradient(to right, darkred, black);
}

.calculadora {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.466);
}

h1 {
  color: white;
  margin: 5px;
  padding: 20px;
  text-align: center;
}

#resultado {
  height: 30px;
  width: 207px;
  background-color: rgb(235, 235, 235);
  margin: 5px;
  padding: 5px;
  color: black;
  border-radius: 2px;
  text-align: right;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background-color: rgb(207, 207, 207)
}

#igual {
  height: 102px;
  border-radius: 2px;
}

#zero {
  width: 102px;
}

.button:hover {
  background-color: darkred;
  color: white;
}

footer{
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer a{
  color: white;
}

footer a:hover{
  color: darkred;
} 